.container {
  margin-right: 104px;
}

.selectContainer {
  position: relative;
  width: 231px;
  height: 54px;
  margin-bottom: 11px;

  /* background: #ffffff; */
  box-shadow: 0px 10px 40px rgba(128, 158, 191, 0.2);
  border-radius: 10px;
}

.selectContainer::after {
  position: absolute;
  content: "";
  width: 24px;
  height: 24px;
  top: 16px;
  right: 16px;
  background: url(../../assets/png/selects_png/expert.png);
}

.selectInput input {
  position: relative;
  box-sizing: border-box;
  width: 177px;
  height: 54px;
  padding: 0;
  padding-left: 20px;
  padding-right: 23px;
  border-radius: 10px;
  border: none;
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 19px;
}

.selectBtn {
  position: absolute;
  content: "";
  width: 11px;
  height: 6px;
  top: 24px;
  left: 143px;
  padding: 0;
  border: none;
  background: url(../../assets/png/arrow-down.png);
}

.selectBtn,
.selectBtn:active,
.selectBtn:hover {
  outline: none;
  cursor: pointer;
}

.menuList {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  list-style: none;
  width: 177px;
  height: 847px;
  margin-bottom: 10px;
  padding: 10px;

  background: #ffffff;
  box-shadow: 0px 10px 40px rgba(128, 158, 191, 0.2);
  border-radius: 10px;
}

.menuList:nth-last-child() {
  margin-bottom: 8px;
}

.menuItem {
  position: relative;
  width: 158px;
  height: 85px;
  margin: 0;
  padding-top: 22px;
  padding-bottom: 11px;

  background: #ffffff;
  border: 1px solid #e7ecf1;
  box-sizing: border-box;
  border-radius: 6px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  cursor: pointer;
}

.menuItem span {
  width: 124 px;
  height: 19px;
  left: 99px;
  top: 323px;

  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 19px;
  text-align: center;
  color: #000000;
}

.menuItem::after {
  position: absolute;
  content: "";
  width: 26px;
  height: 26px;
  top: 22px;
  left: 50%;
  transform: translateX(-50%);
  fill: red;
}

.menuItem:hover .icon path {
  fill: #ff7439;
  transition: fill 0.2s linear;
}

.menuItem:hover span {
  color: #ff7439;
  transition: color 0.2s linear;
}

.menuItem:hover {
  border: 1px solid #ff7439;
  transition: border-color 0.2s linear;
}

/* .menuItem:nth-child(9n + 1)::after {
  background: url(../../assets/svg/analitycs.svg);
} */

svg path {
  fill: #000;
}

/* svg:hover path {
  fill: #ff7439;
} */

.icon {
  /* margin-bottom: 10px; */
}

svg:hover path {
  transition: fill 0.3s linear;
}

.menuItem:nth-child(9n + 2)::after {
  background: url(../../assets/png/expert_menu_png/product.png);
}

.menuItem:nth-child(9n + 3)::after {
  background: url(../../assets/png/expert_menu_png/users.png);
}

.menuItem:nth-child(9n + 3) {
  border: 1px solid #ff7439;
}

.menuItem:nth-child(9n + 3) span {
  color: #ff7439;
}

.menuItem:nth-child(9n + 4)::after {
  background: url(../../assets/png/expert_menu_png/site-constructor.png);
}

.menuItem:nth-child(9n + 5)::after {
  background: url(../../assets/png/expert_menu_png/translations.png);
}

.menuItem:nth-child(9n + 6)::after {
  background: url(../../assets/png/expert_menu_png/mailing.png);
}

.menuItem:nth-child(9n + 7)::after {
  background: url(../../assets/png/expert_menu_png/marketing.png);
}

.menuItem:nth-child(9n + 8)::after {
  background: url(../../assets/png/expert_menu_png/payments.png);
}

.menuItem:nth-child(9n + 9)::after {
  background: url(../../assets/png/expert_menu_png/settings.png);
}

.menuItem:nth-child(n)::after {
  background-repeat: no-repeat;
  background-position: center;
  /* fill: #000000; */
}
