.container {
  position: relative;
  color: aqua;
  margin-bottom: 30px;
  width: 1269px;
  height: 154px;
  padding: 0 40px 0 32px;

  background: #ffffff;
  background: purple;
  border-radius: 10px;
}

.container::after {
  content: "";
  position: absolute;
  width: 1197px;
  height: 1px;
  top: 87px;
  left: 32px;

  background: #e7ecf1;
}
