@import "../../styles/mixins";

.select {
  @include box-size(120px, 43px, unset, 0 18px 0 26px);
  @include bg-position(right 18px, center);
  background-image: url(../../assets/svg/arrow-down.svg);
  background-color: #fff;
  border-radius: 22px;
  border: none;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  text-align: left;
  color: #000000;
}

.select:hover {
  @include hover(color, var(--primary-orange));
}

.option {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: unset;
}

.select:hover option {
  color: var(--primary-text-color);
}
