@import "../../styles/mixins";

.select {
  @include box-size(160px, 40px, 0, 0 30px 0 0);
  @include flex(space-between, center);
  background-image: url(../../assets/svg/arrow-down.svg);
  background-color: #fff;
  @include bg-position(right 10px, center);
  border: none;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 19px;
  color: #000000;
}

.select:hover {
  @include hover(color, var(--primary-orange));
}

.option:nth-child(n) {
  color: var(--primary-text-color);
}
