.header {
  box-sizing: border-box;
  width: 1269px;
  height: 85px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 35px;
  padding-right: 21px;
  background: #ffffff;
  border-radius: 10px;
}

.filtersContainer {
  width: 299px;
  display: flex;
  justify-content: space-between;
}

.selectContainer {
  position: relative;
}

.selectContainer::before {
  position: absolute;
  content: "";
  background-repeat: no-repeat;
  background-position: center;
}

.selectContainer:first-child::before {
  width: 22.5px;
  height: 18.5px;
  top: 2px;
  background: url(../../assets/png/selects_png/periods.png);
}

.selectContainer:last-child::before {
  width: 21.5px;
  height: 23.5px;
  background: url(../../assets/png/selects_png/filter.png);
}

.selectInput input {
  box-sizing: border-box;
  padding: 0;
  padding-right: 19px;
  margin: 0;
  text-align: right;
  border: none;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 19px;
  color: #000000;
}

.selectContainer:first-child input {
  box-sizing: border-box;
  width: 134px;
  height: 20px;
}

.selectContainer:last-child input {
  box-sizing: border-box;
  width: 121px;
  height: 24px;
}

.selectBtn {
  position: absolute;
  content: "";
  width: 11px;
  height: 6px;
  top: 50%;
  right: 0;
  transform: translateY(-25%);
  padding: 0;
  border: none;
  background: url(../../assets/png/arrow-down.png);
}

.btnContainer {
  width: 330px;
  display: flex;
  justify-content: space-between;
}

.btn {
  box-sizing: border-box;
  border-radius: 7px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 150%;
}

.btn:first-child {
  width: 120px;
  height: 45px;
  background: #ffffff;
  border: 2px solid #000000;
  color: #000000;
}

.btn:last-child {
  width: 199px;
  height: 45px;

  background: #ff7439;
  border: none;
  color: #ffffff;
}

.btn,
.selectBtn,
.btn:hover,
.selectBtn:hover,
.selectBtn:active {
  outline: none;
  cursor: pointer;
}

.table {
  box-sizing: border-box;
  width: 1269px;
  padding: 20px 45px 20px 32px;
  background: #ffffff;
  border-radius: 10px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

.table header {
  margin-bottom: 21px;
}

.headerList {
  display: flex;
  padding-bottom: 16px;
  border-bottom: 1px solid #e7ecf1;
}

.headerList li {
  display: flex;
  align-items: center;
  text-align: left;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 130%;
  color: #000000;
}

.bodyList li {
  margin-bottom: 11px;
}

.headerList li,
.bodyItem li {
  width: 188px;
}

/* .headerList .regDate,
.bodyItem .regDate {
  width: 175px;
} */

.headerList li:first-child,
.bodyItem li:first-child {
  position: relative;
  width: 26px;
  margin-right: 38px;
  display: flex;
  align-items: center;
}

.headerList li:first-child p,
.bodyItem li:first-child p {
  box-sizing: border-box;
  width: 26px;
  height: 26px;
  border: 2px solid rgba(131, 142, 157, 0.3);
  border-radius: 26px;
}

.checkbox {
  margin: 0;
}

.headerList li:last-child,
.bodyItem li:last-child {
  display: flex;
  flex-direction: row-reverse;
}

.headerList [type="checkbox"],
.bodyItem [type="checkbox"] {
  position: absolute;
  opacity: 0;
}

.selectInputTable {
  width: 131px;
  height: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 17px;
  color: #000000;
}

.selectInputTable input {
  width: 15px;
  height: 20px;
  padding: 0;
  border: none;
}

.selectInputTable .selectBtn {
  position: unset;
  background-repeat: no-repeat;
  background-position: bottom;
  height: 14px;
}

.bodyItem {
  display: flex;
  justify-content: space-between;
}

.userContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.lock {
  display: inline-block;
  width: 12px;
  height: 17px;
  margin-right: 7px;
  background: url(../../assets/png/lock.png);
  background-repeat: no-repeat;
  background-position: center;
}

.li {
  display: flex;
  align-items: center;
}

.user,
.li {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 19px;
  color: #000000;
}

.lockText {
  color: rgba(0, 0, 0, 0.3);
}

.email {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 17px;
  color: #000000;
}

.user,
.email {
  margin: 0;
}

.inline {
  display: inline-block;
}

.li > .lastAction,
.li > .product {
  position: relative;
  overflow: hidden;
  text-overflow: clip;
  white-space: nowrap;
}

.lastAction,
.product {
  margin: 0;
  overflow: hidden;
}

.lastAction::after,
.product::after {
  position: absolute;
  content: "";
  height: 47px;
  top: 0;
  right: 0;
  background: linear-gradient(
    270deg,
    #ffffff 53.27%,
    rgba(255, 255, 255, 0) 115.44%
  );
  z-index: 10;
}

.lastAction::after {
  width: 84px;
}

.product::after {
  width: 84px;
}

.tableItemBtn {
  width: 22px;
  height: 22px;
  padding: 0;
  border: none;
}

.bodyItem .btnContainer {
  width: 80px;
}

.tableItemBtn:first-child {
  background: url(../../assets/png/edit.png);
}

.tableItemBtn:last-child {
  background: url(../../assets/png/delete.png);
  height: 24px;
}

.selectBtn,
.tableItemBtn,
.selectBtn:hover,
.tableItemBtn:hover,
.selectBtn:active,
.tableItemBtn:active {
  outline: none;
  cursor: pointer;
}
